@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
h1, h2, h3, h4, h5, h6, p, a ,th,tr, td{
    font-family: 'Montserrat', sans-serif;
}


.nav li {
  display: inline-block;
  font-size: 20px;

}
div ul li {
    color: #ffffff;
}

ul li a {
    font-size:18px;
}

.news-container {
    margin-top: 4rem;
}

.col {
    margin: 0.5rem 0rem;
}


#button {
  display: inline-block;
  background-color:#ffffff;
  width: 50px;
  height: 50px;
  line-height:50px;
  text-align: center;
  border-radius: 0px;
  border : 2px solid #000000;
  position: fixed;
  bottom: 70px;
  right: 45px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}

#button.show {
  opacity: 1;
}





.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #28a5ff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #e2e2e2;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links{
	padding-left:40px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


.navbar-nav li:hover > ul.dropdown-menu {
            display: block;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top:-6px;
        }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        }



div label{
font-size:20px;
}

div.alert{
margin:0px;
}

.btn {
  color: #A60000;
  border-color: #A60000
}

/* youtube css */
.yt-btn{
    color: #ff0000 !important; /*ff6c6c*/ /*dc3545*/
    border-color: #ff0000 !important;
}
.yt-btn:hover {
    color: #ffffff !important;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}
.msgbtn, .msgbtn:focus, .btn-light:focus {
    padding:0px;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 0 0.0rem rgb(255 255 255) !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
/*from input border*/
.yt:focus {
    border-color: #ff6c6c !important;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%) !important;
}
#ytgrad {
  background-color: #FF3040; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #FD0100,#FD0100, #FF3040,#FF3040);
}

/* youtube css over */



/* instagram css */
.ig-btn{
    color: #FE023A !important; /*dc3545*/
    border-color: #FE023A !important;
}
.ig-btn:hover {
    color: #ffffff !important;
    background-color: #ff336d !important;
    border-color: #FE023A !important;
}

.ig-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(253 2 58 / 25%);
}
/*from input border*/
.form-control:focus {
    border-color: #FE023A !important;
    box-shadow: 0 0 0 0.2rem rgb(253 2 58 / 25%) !important;
}
#instagrad {
  /*height: 200px;*/
  background-color: #FE023A; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #FE023A, #FF007C,#F100F7); /*#F100F7*/
}
/* instagram css over*/