<div class="card-body">
    <h5 class="card-title"><label for="privatetarget" class="form-label">Target User Name</label></h5>
    <p class="card-text">
        <input type="text" class="form-control" id="privatetarget" aria-describedby="URLHelp"
               placeholder="@alice_watson_7781" name="privatetarget" value=""
               required>
    </p>
    <h5 class="card-title"><label for="privateusername" class="form-label">Your Instagram User Name</label>
    </h5>
    <p class="card-text">
        <input type="text" class="form-control" id="privateusername" aria-describedby="URLHelp"
               placeholder="@john_deo_99" name="privateusername"
               value=""
               required>
    </p>
    <h5 class="card-title"><label for="privatepwd" class="form-label">Instagram Password</label></h5>
    <p class="card-text">
        <input type="password" class="form-control" id="privatepwd" aria-describedby="URLHelp"
               placeholder="john_deo_password_99" name="privatepwd" value=""
               required>
    </p>
    <div><input type="submit" value="Download" class="btn btn-outline-danger ig-btn" id="download">
    </div>

</div>